#tar files
*.tar.gz

#jupyter notebbok checkpoints
.ipynb_checkpoints

#nonMNIST images
nonMNIST/notMNIST_large
nonMNIST/notMNIST_small

#Python compiled files
**/.pyc
.pyc
*.pyc

# IDEs
.idea/
jsconfig.json
.vscode/
